/* Navbar*/


.text{
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-weight: 700px;
}

.cover{
	object-fit: cover;
}

strong{
	color: #4bffa5;
}

.h1{
    color: white;
}

 .animation{
	color: #fff;
	font-family: monospace;
	padding-top: 5em;
	display: flex;
	justify-content: center;
  }

  .margin{
      margin-top: -100px;
  }

.size{
  font-size: 18px;
}
body{
    background: black;
    font-family: 'Roboto', sans-serif;;
}

.typewriter h1 {
	overflow: hidden; /* Ensures the content is not revealed until the animation */
	border-right: .15em solid #4bffa5; /* The typwriter cursor */
	white-space: nowrap; /* Keeps the content on a single line */
	margin: 0 auto; /* Gives that scrolling effect as the typing happens */
	letter-spacing: .15em; /* Adjust as needed */
	animation: 
	typing 3.5s steps(40, end),
	blink-caret .75s step-end infinite;
  }
/* The typing effect */
@keyframes typing {
	from { max-width: 0 }
	to { max-width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #4bffa5; }
  }


  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 50px;
  text-align: center;
  }

  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  .parallax-window {
    min-height: 750px;
    min-width: 600px;

    background: transparent;
}

h1{
    font-size: 64px;
    letter-spacing: 2px;
    margin-top: 80px;
    text-align: center;
    color: white;
}

.content{
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 10px 120px 10px 10px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1)
}

.info{
    list-style-type: none;
}
 #others span{
  display: block;
  width: 500px;
  margin-left: -35px;
}
#educations, #organizations, #projects{
    font-size: 40px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    margin-top: -20px;
    margin-bottom: 90px;

}

#educations:nth-child(even), #organizations:nth-child(even) , #projects:nth-child(even){
    padding: 20px;
    color: #4bffa5;
}

#educations span,#organizations span{
    display: block;
    width: 300px;
    text-align: center;
    margin-right: 20px;
}
#projects span{
  display: block;
}

.deets{
  font-size: 40px;
  letter-spacing: 2px;
  margin-top: 80px;
  color: white;
}

#educations span:nth-child(3),#organizations span:nth-child(3),#projects span:nth-child(3){
    font-size: 16px;
    margin-top: 6px;
    color: white;
}
#educations span:nth-child(2),#organizations span:nth-child(2){
    font-size: 30px;
    margin-top: 6px;
    color: #4bffa5;
}
#projects span:nth-child(2){
  color: white;
  margin-bottom: 50px;
}
meter::-webkit-meter-optimum-value {
  background: #4bffa5; /* Green */
}
meter::-webkit-meter-bar {
  background: none; /* Required to get rid of the default background property */
  background-color: gray;
  box-shadow: 0 5px 5px -5px #333 inset;
}

#educations div,#organizations div, #projects div{
    position: absolute;
    top: 0;
    right: 0px;
    background: rgba(255,255,255,0.6);
    width: 40px;
    text-align: center;
    padding: 10px 0;
    font-weight:  bold;
    cursor:  pointer;
}

form input{
    float: left;
    width: 38%;
    margin: 0;
    border: 0;
    border-bottom: 1px solid #eee;
    margin: 0 1%;
    padding: 10px;
    display: block;
    box-sizing: border-box;
    font-size: 18px;
}

form input:focus{
    outline: none;
    border-bottom: 3px solid #88236f;
    padding-bottom: 8px;
    transition: all ease 0.2s;
}

form:after{
    content: '';
    clear: both;
    display: block;
}


.bodyBG {
  color: #FFF;
  font-family: changa-one, sans-serif;
  font-size: 50px;
  background-color: #03031A;
  background-image:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHhtbG5zOnhsaW5rPSdodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rJyB3aWR0aD0nNjAwJyBoZWlnaHQ9JzYwMCcgdmlld0JveD0nMCAwIDE1MCAxNTAnPgo8ZmlsdGVyIGlkPSdpJyB4PScwJyB5PScwJz4KCTxmZUNvbG9yTWF0cml4IHR5cGU9J21hdHJpeCcgdmFsdWVzPScxIDAgMCAwIDAgIDAgMSAwIDAgMCAgMCAwIDEgMCAwICAwIDAgMCAwIDAnIC8+CjwvZmlsdGVyPgo8ZmlsdGVyIGlkPSduJyB4PScwJyB5PScwJz4KCTxmZVR1cmJ1bGVuY2UgdHlwZT0ndHVyYnVsZW5jZScgYmFzZUZyZXF1ZW5jeT0nLjcnIHJlc3VsdD0nZnV6eicgbnVtT2N0YXZlcz0nMicgc3RpdGNoVGlsZXM9J3N0aXRjaCcvPgoJPGZlQ29tcG9zaXRlIGluPSdTb3VyY2VHcmFwaGljJyBpbjI9J2Z1enonIG9wZXJhdG9yPSdhcml0aG1ldGljJyBrMT0nMCcgazI9JzEnIGszPSctNzMnIGs0PScuMDEnIC8+CjwvZmlsdGVyPgo8cmVjdCB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjMDMwMzFhJy8+CjxyZWN0IHg9Jy0xJScgeT0nLTElJyB3aWR0aD0nMTAyJScgaGVpZ2h0PScxMDIlJyBmaWxsPScjZmZmZmZmJyBmaWx0ZXI9J3VybCgjbiknIG9wYWNpdHk9JzEnLz4KPHJlY3QgeD0nLTElJyB5PSctMSUnIHdpZHRoPScxMDIlJyBoZWlnaHQ9JzEwMiUnIGZpbGw9JyMwMzAzMWEnIGZpbHRlcj0ndXJsKCNpKScgb3BhY2l0eT0nMScvPgo8L3N2Zz4=');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  
}
.parallax {
  min-height: 400px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url("4-space.jpg");

}


.cross{
  color:white;
}

html {
  scroll-behavior: smooth;
}

.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 97%;

}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 13px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.icon-bar a:hover {
  background-color: #4bffa5;
}
.item:hover{
  background-color: #4bffa5;
  transition: all 0.3s ease;
}

.facebook {
  background: black;
  color: white;
}

.twitter {
  background: black;
  color: white;
}



.linkedin {
  background: black;
  color: white;
}



.content {
  margin-left: 75px;
  font-size: 30px;
}
